@import url(http://fonts.googleapis.com/css?family=Exo:100);

body {
    font-family:    Exo, sans-serif;
}
article {
    margin: auto;
    width:  960px;
}
h1, h2, h3 {
    font-variant: small-caps;
    font-weight:    normal;
}

header h1 {
    font-size:      3em;
    border-bottom:  1px solid #999;
    margin-bottom:  0.2em;
}
header .author {
    text-align: right;
}
header .author a {
    color:  #333;
    text-decoration:    none;
    border-bottom:  1px dotted #999;
}



@media print {
    article {
        width:  auto;
    }
}
