
body {
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:    200;
}
article {
    margin: auto;
    width:  960px;
}
h1, h2, h3 {
    font-variant: small-caps;
    font-weight:    100;
    letter-spacing: 2px;
    margin-bottom: 0;
}
p:first-of-type {
    margin-top: 0;
}

header h1 {
    font-size:      3em;
    border-bottom:  1px solid #999;
    margin-bottom:  0.2em;
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}
header .author {
    text-align: right;
    font-weight:    100;
    letter-spacing: 1px;
    font-style: italic;
}
header .author a {
    color:  #333;
    text-decoration:    none;
    border-bottom:  1px dotted #999;
}



@media print {
    article {
        width:  auto;
    }
}
